/*Resect*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.highlight {
    background-color: yellow;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/*Posizione Logo e intestazione*/

header {
    height: 150px;
    background-image: url(../img/pattern.png);
    background-color: cornflowerblue;
    background-size: 40%;
}

#logo {
    height: 50px;
    margin-top: 40px;
}

/* Main */

main {
    margin-top: 30px;
}

.title { 
    font-size: 55px;
    line-height: 55px;
    margin: 0;
}

.author {
    color: grey;
    font-size: 25px;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: bold;
}

h1 {
    font-size: 38px;
    line-height: 40px;
}

.author-name {
    color: blue;
}

.date {
    font-size: 12px;
    color: gray;
}

.photos {
    margin: 20px 0;
}

.photos .credits {
    font-size: 12px;
}

.content p {
    margin: 20px 0;
}

/* Tabella */

.content ul {
    margin: 30px 15px;
}

.content table {
    text-align: left;
    border-spacing: 0;
}

.content table thead {
    background-color: rgb(1, 83, 83);
    color: white;
}

.content table .odd {
    background-color: cornflowerblue;
}

.content table th.text {
    width: 50%;
}

/* Footer */

footer {
    margin: 30px 0;
}

footer h2 {
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
}

.image {
    width: 208px;
    height: 160px;
    margin: 10px 0;
    padding: 10px;
    background-size: cover;
    background-repeat: none;
    color: white;
}

#image-monitor {
    background-image: url(../img/monitor.jpg);
}

#image-graph {
    background-image: url(../img/graph.jpg);
}